
#nav{
    border: 1px solid black;
    background-color: black;
    display: flex;
}
#nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#nav a:hover{
    background-color: white;
    color: black;
}
#about{
    color: white;
    padding: 20px;
}
#experience{
    color: white;
    padding: 20px;
}
#contact{
    color: white;
    padding: 20px;
}